@using weptintuc.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>>
    <script>tinymce.init({ selector:'textarea' });</script>
    </script>



</head>
<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
       

        <div class="container">
            
            @*<div class="navbar-header">
               
                <a class="navbar-brand" style="text-decoration:none">TRANG CHỦ ADMIN</a>
                
            </div>*@
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("TRANG CHỦ ADMIN", "Index", "Admin")
                    </li>
                    <li>
                        @Html.ActionLink("QUẢN LÝ TIN TỨC", "TinTuc", "Admin")
                    </li>
                    <li>
                        @Html.ActionLink("QUẢN LÝ LOẠI TIN", "LoaiTinTuc", "Admin")
                    </li>
                    <li>
                        @Html.ActionLink("QUẢN LÝ TÀI KHOẢN", "TaiKhoan", "Admin")
                    </li>
                    <li>
                        @Html.ActionLink("QUẢN LÝ USER ", "user", "Admin")
                    </li>
                </ul>
                <div style="float:left; padding-left:200px;">
                    @{
                        var session = (TAI_KHOAN)Session["TaiKhoanAdmin"];
                    }

                    @if (session != null)
                    {
                        <h2 style="font-family: Arial; font-size: 18px; color:#0094ff">Admin @session.TEN_TAI_KHOAN</h2>
                        <a href="@Url.Action("DangxuatAdmin","Admin")" style="float:right;color:#ffffff; font-size:medium">Đăng xuất</a>
                    }
                </div>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div>
            @RenderBody()
        </div>

    </div>
    </div>
    </div>
    <!-- /.container -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; KHỔNG TRỌNG VINH - 2016 </p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="~/Scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


</body>
</html>
