@model weptintuc.Models.TIN_TUC

@{
    ViewBag.Title = "themtt";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2>THÊM TIN MỚI</h2>

@using (Html.BeginForm("ThemTT", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div style="width:800px; margin:auto">
        <div class="form-horizontal">

            @Html.ValidationSummary(true)
            <div class="form-group">
                <div>
                    <span>Loại tin :</span>
                    @Html.DropDownList("MA_LOAI_TT")
                </div>
            </div>

            <div class="form-group">

                <span>Tiêu đề tin: </span>

                @Html.ValidationMessageFor(model => model.TEN_TT)
                @Html.EditorFor(model => model.TEN_TT)
            </div>
            <div class="form-group">
                <span>Mô tả</span>

                <textarea name="MOTA_TT"></textarea>

            </div>


            <div class="form-group">
                <span>Nội dụng</span>
                <textarea name="NOI_DUNG"></textarea>

            </div>

            <div class="form-group">

                <span>Hình ảnh</span>
                <input type="file" name="upload" />
                <span style="color: red">@ViewBag.Thongbao</span>


            </div>

            <div class="form-group">

                <span>Người viết tin</span>
                @Html.EditorFor(model => model.NGUOI_VIET_TIN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NGUOI_VIET_TIN, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                <span>Ngày đăng</span>
                <br />
                <input type="date" name="NGAY_DANG" />
                @Html.ValidationMessageFor(model => model.NGAY_DANG)

            </div>

            <div class="form-group">

                <input type="submit" value="THÊM MỚI" class="btn btn-default" />

            </div>
        </div>
    </div>
}

<div>

    @Html.ActionLink("TRỞ VỀ TRANG TIN", "TinTuc")
</div>
